body{
    margin: 0;
    text-align: center;
    font-family: "comic sans ms", cursive, sans-serif;
    
}

header {
    background-color: rgb(214, 15, 15);
    color:white;
    text-align:center;
    padding: 15px;
}

/* This is the layout for the top left button*/
.button-container { 
    position: absolute; 
    top: 200px;           
    left: 5px;       
    text-align: center;  
}

.button-top-left{
    padding: 15px 32px; 
    color: white;
    background-color: rgb(214, 15, 15); 
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-top-left:hover{ /* This is to make the button change color when the cursor is over it */
    background-color: purple;
}

.center-button-container{
    position: absolute;
    top: 200px;
    left: 45%;
    text-align: center;
}

.center-button {
    padding: 15px 32px; 
    color: white;
    background-color: rgb(214, 15, 15); 
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s

}



.center-button:hover{ /* This is to make the button change color when the cursor is over it */
    background-color: purple;
}

.botleft-button-container{
    position: absolute;
    top: 400px;
    left: 5px;
    text-align: center;
}

.botleft-button{
    padding: 15px 32px; 
    color: white;
    background-color: rgb(214, 15, 15); 
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botleft-button:hover{ /* This is to make the button change color when the cursor is over it */
    background-color: purple;
}



.button-text{  /* This is for the text above the button */
    font-size: 18px;     
    font-weight: bold;   
    text-decoration: underline;  
    margin-bottom: 10px
}


footer {
    background-color: #333;
    color: grey;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

p{
    color: rgb(214, 15, 15);

}