body{
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    
}

.button-container { /* This is the general layout of the button objects*/
    position: absolute; 
    top: 150px;           
    left: 150px;       
    text-align: center;  
}

.button-text{  /* This is for the text above the button */
    font-size: 18px;     
    font-weight: bold;   
    text-decoration: underline;  
    margin-bottom: 10px
}

.button-container:hover{ /* This is to make the button change color when the cursor is over it */
    background-color: purple;
}

/*The following objects are descriptive, and are used to help 
 determine the location of the button container*/

.button-top{
    top: 200px;
    margin-top: 20px;
}

.button-top-left{
    padding: 15px 32px; 
    color: black;
    background-color: gold; 
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-right{
    position: fixed;
    right: 100px;
    margin-right: 100px;
}

.button-middle{
    margin-left: auto;
    margin-right: auto;
}

.button-leftcorner{
    position: fixed;
    left: 10px;
    top: 10px;
    margin: 20px 20px;
}



header {
    color: black;
    padding: 1rem 0;
    text-align: center;
}


footer {
    background-color: #333;
    color: grey;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

p{
    color: gold;
    background-color: black;
}