body {
    font-family: "comic sans ms", cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: rgb(45, 191, 13);
    color: white;
    text-align: center;
    padding: 15px;
}

header h1 {
    margin: 0;
}


.content {
    margin: 20px;
}


.section {
    margin-bottom: 30px;
}


h3 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline; 
    margin-bottom: 10px;
}


p {
    font-size: 14px;
    line-height: 1.6;
}

.home-button {
    padding: 10px 20px;
    background-color: white; 
    color: #d32f2f; 
    border: 2px solid #d32f2f; 
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.home-button:hover {
    background-color: #d32f2f; 
    color: white; 
}


footer {
    background-color:rgb(45, 191, 13);
    color: white;
    text-align: center;
    padding: 8px;
    position: sticky;
    bottom: 0;
    width: 100%;
}