body{
    margin: 0;
    background: grey;
    text-align: center;
    
}
button {
    border-style: dashed;
    border-width: 3px;
    padding: 15px 32px;
    margin: 4px 2px;
    background-color: white;
    color: black;

}
p{color: gold;}